.header {
  h1 {
    margin-bottom: 0;
  }
}

.header__nav {
  padding: 1.5rem 1.25rem;
  border-top: 7px solid #f7963b;
  color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  img {
    margin-bottom: 0;
  }
}

.header__websitename {
  color: #f7963b;
  font-weight: bold;
}

.header__menu {
  list-style: none;
}

@media (min-width: 768px) {
  .header {
    height: 100vh;
    width: 30%;
    position: fixed;
    left: 0;
    top: 0;
  }

  .header__nav {
    padding: 2rem;
    height: 100%;
    border-left: 7px solid #f7963b;
    border-top: none;
    flex-direction: column;
    align-items: flex-start;
    img {
      margin-bottom: 0;
    }
  }
}
